nav#top.nav.has-shadow
  .container
    .nav-left
      a.nav-item(href='/')
        | Farmers Market
    span.nav-toggle
      span
      span
      span
    .nav-right.nav-menu
      a.nav-item.is-tab.is-active
        | Home
      a.nav-item.is-tab
        | Features
      a.nav-item.is-tab
        | Team
      a.nav-item.is-tab
        | Help
      span.nav-item
        a.button.is-info
          | Logout
