<!doctype html>
<html>
  {% include "../includes/head.njk" %}
  <body class="gray-bg">
    {% block content %}{% endblock %}
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/js/inspinia.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
